<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prithwishmukherjee.duvidha" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <!-- Permissions -->
    <!-- Permissions -->
    <permission
        android:name="com.example.prithwishmukherjee.duvidha.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Push Permissions-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.example.prithwishmukherjee.duvidha.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".SuvidhaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SuvidhaMember"
            android:label="@string/title_activity_suvidha_member"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prithwishmukherjee.duvidha.MainActivity" />
        </activity>
        <activity
            android:name=".EmergencyPage"
            android:label="@string/title_activity_emergency_page" >
        </activity>
        <activity
            android:name=".Ambulance"
            android:label="@string/title_activity_ambulance" >
        </activity>
        <activity
            android:name=".SearchResults"
            android:label="@string/title_activity_seach_results" >
        </activity>
        <activity
            android:name=".RateDoctors"
            android:label="@string/title_activity_rate_doctors" >
        </activity>
        <activity
            android:name=".Forum"
            android:label="@string/title_activity_forum" >
        </activity>
        <activity
            android:name=".CheckAppointmentStatus"
            android:label="@string/title_activity_check_appointment_status" >
        </activity>
        <activity
            android:name=".SuvidhaDoctor"
            android:label="@string/title_activity_suvidha_doctor" >
        </activity>
        <activity
            android:name=".SuvidhaHospital"
            android:label="@string/title_activity_suvidha_hospital" >
        </activity>
        <activity
            android:name=".UpdateDetails"
            android:label="@string/title_activity_update_details" >
        </activity>
        <activity
            android:name=".ExistingAppointments"
            android:label="@string/title_activity_existing_appointments" >
        </activity>
        <activity
            android:name=".RegistrationPage"
            android:label="@string/title_activity_registration_page" >
        </activity>
        <activity
            android:name=".SuccesfulRegistration"
            android:label="@string/title_activity_succesful_registration" >
        </activity>
        <activity
            android:name=".PendingAppointments"
            android:label="@string/title_activity_pending_appointments" >

            <!-- Push Settings Start -->
            <!-- Notification Intent -->
            <intent-filter>
                <action android:name="com.example.prithwishmukherjee.duvidha.IBMPushNotification" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Push Settings End -->
        </activity>

        <!-- Push Settings Start -->
        <!-- Add GCM Intent Service and intent-filters for RECEIVE and REGISTRATION of notifications -->
        <activity android:name="com.ibm.mobile.services.push.IBMUIActivity" />
        <service android:name="com.ibm.mobile.services.push.IBMPushIntentService" />

        <receiver android:name="com.ibm.mobile.services.push.IBMPushBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.ibm.mbaas.push.sdk.client.android.sample" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.ibm.mbaas.push.sdk.client.android.sample" />
            </intent-filter>
        </receiver>
        <!-- Push Settings End -->
    </application>

</manifest>